<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="TechyDevs">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dirto - Directory & Listing HTML Template</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/line-awesome.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/animated-headline.css">
    <link rel="stylesheet" href="css/daterangepicker.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/jquery.filer.css">
    <link rel="stylesheet" href="css/jquery.filer-dragdropbox-theme.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
</head>
<body>
<!-- start per-loader -->
<div class="loader-container">
    <div class="loader-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- end per-loader -->

<!-- ================================
            START HEADER AREA
================================= -->
<header class="header-area">
    <div class="header-menu-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-full-width">
                        <div class="logo">
                            <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                        </div><!-- end logo -->
                        <div class="main-menu-content">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">home <span class="la la-angle-down"></span></a>
                                        <ul class="dropdown-menu-item">
                                            <li><a href="index.html">home one</a></li>
                                            <li><a href="index2.html">home two</a></li>
                                            <li><a href="index3.html">home three</a></li>
                                            <li><a href="index4.html">home four <span class="new-page-badge">new</span></a></li>
                                            <li><a href="index5.html">home five <span class="new-page-badge">new</span></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">categories <span class="la la-angle-down"></span></a>
                                        <ul class="dropdown-menu-item">
                                            <li><a href="all-categories.html">all categories</a></li>
                                            <li><a href="all-locations.html">all locations</a></li>
                                            <li><a href="top-place.html">top places </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">listings <span class="la la-angle-down"></span></a>
                                        <ul class="dropdown-menu-item">
                                            <li><a href="listing-grid.html">listing grid</a></li>
                                            <li><a href="list-map-view.html">map view </a></li>
                                            <li><a href="list-map-view2.html">map view 2 </a></li>
                                            <li><a href="listing-list.html">listing list </a></li>
                                            <li><a href="list-left-sidebar.html">left sidebar  </a></li>
                                            <li><a href="list-right-sidebar.html">right sidebar  </a></li>
                                            <li><a href="listing-details.html">listing details</a></li>
                                            <li><a href="add-listing.html">add listing</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">pages <span class="la la-angle-down"></span></a>
                                        <ul class="dropdown-menu-item">
                                            <li><a href="user-profile.html">user profile</a></li>
                                            <li><a href="top-author.html">top authors </a></li>
                                            <li><a href="dashboard.html">dashboard</a></li>
                                            <li><a href="booking.html">booking  </a></li>
                                            <li><a href="booking-confirmation.html">booking confirmation </a></li>
                                            <li><a href="invoice.html">invoice</a></li>
                                            <li><a href="pricing.html">pricing</a></li>
                                            <li><a href="about.html">about</a></li>
                                            <li><a href="faq.html">faq</a></li>
                                            <li><a href="contact.html">contact</a></li>
                                            <li><a href="page-404.html">404 page</a></li>
                                            <li><a href="recover.html">recover pass <span class="new-page-badge">new</span></a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">blog <span class="la la-angle-down"></span></a>
                                        <ul class="dropdown-menu-item">
                                            <li><a href="blog-full-width.html">full width <span class="new-page-badge">new</span></a></li>
                                            <li><a href="blog-grid.html">blog grid</a></li>
                                            <li><a href="blog-left-sidebar.html">left sidebar </a></li>
                                            <li><a href="blog-right-sidebar.html">right sidebar </a></li>
                                            <li><a href="blog-single.html">blog detail</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end main-menu-content -->
                        <div class="logo-right-content">
                            <ul class="author-access-list">
                                <li>
                                    <a href="login.html">login</a>
                                    <span class="or-text">or</span>
                                    <a href="sign-up.html">sign up</a>
                                </li>
                                <li>
                                    <a href="add-listing.html" class="theme-btn">
                                        <span class="la la-plus-circle"></span>
                                        add listing
                                    </a>
                                </li>
                            </ul>
                            <div class="side-menu-open">
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                            </div><!-- end side-menu-open -->
                            <div class="side-user-menu-open">
                                <span class="la la-user"></span>
                            </div><!-- end side-user-menu-open -->
                        </div><!-- end logo-right-content -->
                    </div><!-- end menu-full-width -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end header-menu-wrapper -->
    <div class="side-nav-container">
        <div class="humburger-menu">
            <div class="humburger-menu-lines side-menu-close"></div><!-- end humburger-menu-lines -->
        </div><!-- end humburger-menu -->
        <div class="side-menu-wrap">
            <ul class="side-menu-ul">
                <li>
                    <a href="#">home <span class="la la-angle-down"></span></a>
                    <ul class="dropdown-menu-item">
                        <li><a href="index.html">home one</a></li>
                        <li><a href="index2.html">home two  </a></li>
                        <li><a href="index3.html">home three</a></li>
                        <li><a href="index4.html">home four <span class="new-page-badge">new</span></a></li>
                        <li><a href="index5.html">home five <span class="new-page-badge">new</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">categories <span class="la la-angle-down"></span></a>
                    <ul class="dropdown-menu-item">
                        <li><a href="all-categories.html">all categories</a></li>
                        <li><a href="all-locations.html">all locations</a></li>
                        <li><a href="top-place.html">top places </a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">listings <span class="la la-angle-down"></span></a>
                    <ul class="dropdown-menu-item">
                        <li><a href="listing-grid.html">listing grid</a></li>
                        <li><a href="list-map-view.html">map view  </a></li>
                        <li><a href="list-map-view2.html">map view 2  </a></li>
                        <li><a href="listing-list.html">listing list  </a></li>
                        <li><a href="list-left-sidebar.html">left sidebar  </a></li>
                        <li><a href="list-right-sidebar.html">right sidebar </a></li>
                        <li><a href="listing-details.html">listing details</a></li>
                        <li><a href="add-listing.html">add listing</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">pages <span class="la la-angle-down"></span></a>
                    <ul class="dropdown-menu-item">
                        <li><a href="user-profile.html">user profile</a></li>
                        <li><a href="top-author.html">top authors </a></li>
                        <li><a href="dashboard.html">dashboard</a></li>
                        <li><a href="booking.html">booking  </a></li>
                        <li><a href="booking-confirmation.html">booking confirmation </a></li>
                        <li><a href="invoice.html">invoice</a></li>
                        <li><a href="pricing.html">pricing</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="faq.html">faq</a></li>
                        <li><a href="contact.html">contact</a></li>
                        <li><a href="page-404.html">404 page</a></li>
                        <li><a href="recover.html">recover pass<span class="new-page-badge">new</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">blog <span class="la la-angle-down"></span></a>
                    <ul class="dropdown-menu-item">
                        <li><a href="blog-full-width.html">full width <span class="new-page-badge">new</span></a></li>
                        <li><a href="blog-grid.html">blog grid</a></li>
                        <li><a href="blog-left-sidebar.html">left sidebar </a></li>
                        <li><a href="blog-right-sidebar.html">right sidebar </a></li>
                        <li><a href="blog-single.html">blog detail</a></li>
                    </ul>
                </li>
            </ul>
            <div class="side-nav-button">
                <a href="login.html" class="theme-btn">login</a>
                <a href="sign-up.html" class="theme-btn">sign up</a>
            </div><!-- end side-nav-button -->
        </div><!-- end side-menu-wrap -->
    </div><!-- end side-nav-container -->
    <div class="side-user-panel">
        <div class="humburger-menu">
            <div class="humburger-menu-lines side-menu-close"></div><!-- end humburger-menu-lines -->
        </div><!-- end humburger-menu -->
        <div class="side-menu-wrap side-user-menu-wrap">
            <div class="side-user-img">
                <img src="images/team2.jpg" alt="image">
                <h4 class="su__name">Mark Williamson</h4>
                <span class="su__meta">Joined 3 years ago</span>
                <div class="avatar-icon">
                    <a href="dashboard.html" data-toggle="tooltip" data-placement="top" title="Change Avatar"> <i class="fa fa-plus"></i></a>
                </div>
            </div>
            <ul class="side-menu-ul">
                <li><a href="dashboard.html"><span class="la la-user user-icon"></span> My Profile</a></li>
                <li><a href="dashboard.html"><span class="la la-list-alt user-icon"></span> My Listings</a></li>
                <li><a href="dashboard.html"><span class="la la-bookmark-o user-icon"></span> My Bookmarks</a></li>
                <li><a href="dashboard.html"><span class="la la-plus-circle user-icon"></span> add listing</a></li>
                <li><div class="dropdown-divider"></div></li>
                <li><a href="#"><span class="la la-question user-icon"></span> help</a></li>
                <li><a href="#"><span class="la la-gear user-icon"></span> Settings</a></li>
                <li><a href="#"><span class="la la-power-off user-icon"></span> Sign Out</a></li>
            </ul>
            <div class="side-user-search contact-form-action">
                <form method="post">
                    <div class="form-group mb-0">
                        <span class="la la-search form-icon"></span>
                        <input class="form-control" type="search" name="search-field" placeholder="Search by keywords">
                    </div>
                    <button type="button" class="theme-btn border-0">
                        Search
                    </button>
                </form>
            </div><!-- end sidebar-widget -->
        </div><!-- end side-menu-wrap -->
    </div><!-- end side-user-panel -->
</header>
<!-- ================================
         END HEADER AREA
================================= -->

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb__title">blog left sidebar</h2>
                        <ul class="breadcrumb__list">
                            <li class="active__list-item"><a href="index.html">home</a></li>
                            <li class="active__list-item">blog</li>
                            <li>blog left sidebar</li>
                        </ul>
                    </div><!-- end breadcrumb-content -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end breadcrumb-wrap -->
    <div class="bread-svg">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path d="M-4.22,89.30 C280.19,26.14 324.21,125.81 511.00,41.94 L500.00,150.00 L0.00,150.00 Z"></path>
        </svg>
    </div><!-- end bread-svg -->
</section><!-- end breadcrumb-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START BLOG AREA
================================= -->
<section class="blog-left-sidebar padding-top-40px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar section-bg">
                    <div class="sidebar-widget">
                        <div class="contact-form-action">
                            <form action="#">
                                <div class="form-group">
                                    <span class="la la-search form-icon"></span>
                                    <input class="form-control" type="text" placeholder="Search...">
                                    <button type="submit" class="theme-btn submit-btn border-0">search</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <div class="author-bio margin-bottom-20px">
                            <div class="d-flex align-items-center">
                                <img src="images/testi-img2.jpg" alt="author-image">
                                <div class="author-inner-bio">
                                    <h4 class="author__title font-weight-bold pb-0 mb-1">Mark Williamson</h4>
                                    <p class="author__meta">Senior Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="section-heading">
                            <p class="sec__desc font-size-15 line-height-24">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Asperiores dolorem illo laborum magni, maxime omnis
                                quam quod totam voluptatem voluptatibus?
                            </p>
                        </div>
                        <div class="section-block-2 margin-top-30px margin-bottom-30px"></div>
                        <ul class="social-profile margin-bottom-35px text-center">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"> <i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="widget-title">Post Categories</h3>
                        <div class="title-shape"></div>
                        <div class="cat-list padding-top-30px">
                            <ul class="list-items">
                                <li class="mb-2 pb-2"><a href="#" class="d-flex justify-content-between align-items-center before-none">Restaurant <span>11</span></a></li>
                                <li class="mb-2 pb-2"><a href="#" class="d-flex justify-content-between align-items-center before-none">Shop <span>21</span></a></li>
                                <li class="mb-2 pb-2"><a href="#" class="d-flex justify-content-between align-items-center before-none">Fitness <span>31</span></a></li>
                                <li class="mb-2 pb-2"><a href="#" class="d-flex justify-content-between align-items-center before-none">Event <span>24</span></a></li>
                                <li class="mb-2 pb-2"><a href="#" class="d-flex justify-content-between align-items-center before-none">Bar <span>15</span></a></li>
                                <li class="mb-2 pb-2"><a href="#" class="d-flex justify-content-between align-items-center before-none">Salon <span>33</span></a></li>
                                <li><a href="#" class="d-flex justify-content-between align-items-center before-none">Beauty <span>10</span></a></li>
                            </ul>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget tag-widget">
                        <h3 class="widget-title">Tags Cloud</h3>
                        <div class="title-shape"></div>
                        <ul class="tag-list padding-top-30px">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Restaurant</a></li>
                            <li><a href="#">Gym</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Office</a></li>
                            <li><a href="#">Bar</a></li>
                            <li><a href="#">Health Care</a></li>
                            <li><a href="#">Car Parking</a></li>
                            <li><a href="#">Nightlife</a></li>
                            <li><a href="#">Doctor</a></li>
                            <li><a href="#">Bike Parking</a></li>
                        </ul>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget similar-widget">
                        <h3 class="widget-title">Popular Posts</h3>
                        <div class="title-shape"></div>
                        <div class="similar-list padding-top-30px">
                            <div class="recent-item mb-3">
                                <div class="recent-img">
                                    <a href="blog-single.html">
                                        <img src="images/img34.jpg" alt="blog image">
                                    </a>
                                </div><!-- end recent-img -->
                                <div class="recentpost-body">
                                    <h4 class="recent__link">
                                        <a href="blog-single.html">The best sale marketer of the next year</a>
                                    </h4>
                                    <p class="recent__meta">20 Jan, 2019 by <a href="#">TechyDevs</a></p>
                                </div><!-- end recent-img -->
                            </div><!-- end recent-item -->
                            <div class="recent-item mb-3">
                                <div class="recent-img">
                                    <a href="blog-single.html">
                                        <img src="images/img35.jpg" alt="blog image">
                                    </a>
                                </div><!-- end recent-img -->
                                <div class="recentpost-body">
                                    <h4 class="recent__link">
                                        <a href="blog-single.html">How to make your ideas became true</a>
                                    </h4>
                                    <p class="recent__meta">20 Jan, 2019 by <a href="#">TechyDevs</a></p>
                                </div><!-- end recent-img -->
                            </div><!-- end recent-item -->
                            <div class="recent-item mb-3">
                                <div class="recent-img">
                                    <a href="blog-single.html">
                                        <img src="images/img36.jpg" alt="blog image">
                                    </a>
                                </div><!-- end recent-img -->
                                <div class="recentpost-body">
                                    <h4 class="recent__link">
                                        <a href="blog-single.html">What gets in the way of strategy</a>
                                    </h4>
                                    <p class="recent__meta">20 Jan, 2019 by <a href="#">TechyDevs</a></p>
                                </div><!-- end recent-img -->
                            </div><!-- end recent-item -->
                            <div class="recent-item">
                                <div class="recent-img">
                                    <a href="blog-single.html">
                                        <img src="images/img37.jpg" alt="blog image">
                                    </a>
                                </div><!-- end recent-img -->
                                <div class="recentpost-body">
                                    <h4 class="recent__link">
                                        <a href="blog-single.html">What gets in the way of strategy</a>
                                    </h4>
                                    <p class="recent__meta">20 Jan, 2019 by <a href="#">TechyDevs</a></p>
                                </div><!-- end recent-img -->
                            </div><!-- end recent-item -->
                        </div><!-- end similar-list -->
                        <div class="btn-box text-center padding-top-30px">
                            <a href="blog-grid.html" class="theme-btn d-block">
                                <span class="la la-eye"></span> view all posts
                            </a>
                        </div><!-- end btn-box -->
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget">
                        <h3 class="widget-title">Subscribe</h3>
                        <div class="title-shape"></div>
                        <div class="subscribe-form padding-top-30px">
                            <div class="contact-form-action">
                                <form>
                                    <div class="form-group mb-1">
                                        <span class="la la-envelope-o form-icon"></span>
                                        <input class="form-control" type="email" name="text" placeholder="Enter your email">
                                        <button type="submit" class="theme-btn submit-btn border-0">Go</button>
                                    </div>
                                    <p class="font-size-14 font-weight-medium">You can unsubscribe at any time</p>
                                </form>
                            </div>
                        </div>
                    </div><!-- end sidebar-widget -->
                    <div class="sidebar-widget social-widget">
                        <h3 class="widget-title">Follow & Connect</h3>
                        <div class="title-shape"></div>
                        <ul class="social-profile padding-top-30px">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div><!-- end sidebar-widget -->
                </div><!-- end sidebar -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img31.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    50 Greatest Event Places in United Kingdom
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>25 Dec, 2018 - <a href="#" class="tag__text">Tips & Tricks</a></li>
                                    <li><a href="javascript:void(0)">340 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>David Wise</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end blog-post-body -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img32.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    Top 10 Best Clothing Shops in Sydney
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>26 Dec, 2018 - <a href="#" class="tag__text">Tips & News</a></li>
                                    <li><a href="javascript:void(0)">620 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>Mark Wins</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end card-content -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img30.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    Top 15 Greatest Hotels in United States
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>27 Dec, 2018 - <a href="#" class="tag__text">Tips & Tricks</a></li>
                                    <li><a href="javascript:void(0)">800 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>Matt Derry</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end card-content -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img31.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    50 Greatest Event Places in United Kingdom
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>25 Dec, 2018 - <a href="#" class="tag__text">Tips & Tricks</a></li>
                                    <li><a href="javascript:void(0)">340 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>David Wise</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end blog-post-body -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img32.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    Top 10 Best Clothing Shops in Sydney
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>26 Dec, 2018 - <a href="#" class="tag__text">Tips & News</a></li>
                                    <li><a href="javascript:void(0)">620 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>Mark Wins</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end card-content -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img30.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    Top 15 Greatest Hotels in United States
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>27 Dec, 2018 - <a href="#" class="tag__text">Tips & Tricks</a></li>
                                    <li><a href="javascript:void(0)">800 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>Matt Derry</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end card-content -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img32.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    Top 10 Best Clothing Shops in Sydney
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>26 Dec, 2018 - <a href="#" class="tag__text">Tips & News</a></li>
                                    <li><a href="javascript:void(0)">620 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>Mark Wins</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end card-content -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                    <div class="col-lg-6 column-td-6">
                        <div class="card-item blog-card">
                            <a href="blog-single.html" class="card-image-wrap">
                                <div class="card-image">
                                    <img src="images/img30.jpg" alt="blog image" class="card__img">
                                </div><!-- end card-image -->
                            </a>
                            <div class="card-content pl-0 pr-0">
                                <a href="blog-single.html" class="card-title">
                                    Top 15 Greatest Hotels in United States
                                </a>
                                <ul class="card-meta pl-0 d-flex justify-content-between align-items-center mt-2">
                                    <li>27 Dec, 2018 - <a href="#" class="tag__text">Tips & Tricks</a></li>
                                    <li><a href="javascript:void(0)">800 Likes</a></li>
                                </ul>
                                <p class="card-sub mt-3">
                                    Sed ut perspiciatis unde omnis iste natus error sit
                                    voluptatem eaque ipsa quae ab illo inventore
                                    incididunt ut labore et dolore magna
                                </p>
                                <ul class="post-author d-flex align-items-center justify-content-between mt-3">
                                    <li>
                                        <img src="images/testi-img7.jpg" alt="">
                                        <span class="by__text">By</span>
                                        <span>Matt Derry</span>
                                    </li>
                                    <li>
                                        <a href="blog-single.html" class="blog__btn">
                                            read more
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- end card-content -->
                        </div><!-- end card-item -->
                    </div><!-- end col-lg-6 -->
                </div><!-- end row -->
            </div><!-- end col-lg-8 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="pagination-wrapper mt-4 text-center">
                    <ul class="pagination-list">
                        <li><a href="#" class="pag__prev"><i class="fa fa-angle-double-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li class="pag__active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#" class="pag__next"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div><!-- end pagination-wrapper -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end blog-left-sidebar -->
<!-- ================================
       START BLOG AREA
================================= -->

<!-- ================================
    START CTA AREA
================================= -->
<section class="cta-area cta-area2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="cta-box d-flex align-items-center">
                    <div class="col-lg-8">
                        <div class="section-heading">
                            <h2 class="sec__title text-white">Subscribe to Newsletter!</h2>
                            <p class="sec__desc">Subscribe to get latest updates and information.</p>
                        </div><!-- end section-heading -->
                    </div><!-- end col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="contact-form-action">
                            <form method="post">
                                <div class="form-group mb-0">
                                    <span class="la la-envelope-o form-icon"></span>
                                    <input class="form-control" type="email" placeholder="Enter your email">
                                    <button class="theme-btn" type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div><!-- end contact-form-action -->
                    </div><!-- end col-lg-3 -->
                </div><!-- end cta-box -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end cta-area -->
<!-- ================================
    END CTA AREA
================================= -->

<!-- ================================
       START FOOTER AREA
================================= -->
<section class="footer-area section-bg padding-top-140px padding-bottom-60px">
    <div class="box-icon"></div>
    <div class="box-icon"></div>
    <div class="box-icon"></div>
    <div class="box-icon"></div>
    <div class="box-icon"></div>
    <div class="box-icon"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 column-td-6">
                <div class="footer-item">
                    <div class="logo">
                        <a href="index.html" class="foot-logo"><img src="images/logo2.png" alt="logo"></a>
                        <p class="footer__desc">
                            Morbi convallis bibendum urna ut viverra. Maecenas
                            quis consequat libero, a feugiat eros
                        </p>
                        <ul class="social-profile">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!-- end logo -->
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 column-td-6">
                <div class="footer-item">
                    <h4 class="footer__title">Quick Links</h4>
                    <ul class="list-items">
                        <li><a href="about.html">about us</a></li>
                        <li><a href="sign-up.html">sign up</a></li>
                        <li><a href="login.html">log in</a></li>
                        <li><a href="add-listing.html">add listing</a></li>
                        <li><a href="contact.html">contact us</a></li>
                        <li><a href="pricing.html">pricing</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 column-td-6">
                <div class="footer-item">
                    <h4 class="footer__title">Categories</h4>
                    <ul class="list-items">
                        <li><a href="#">Shops</a></li>
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Restaurants</a></li>
                        <li><a href="#">Bars</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Fitness</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
            <div class="col-lg-3 column-td-6">
                <div class="footer-item">
                    <h4 class="footer__title">Contact with Us</h4>
                    <ul class="info-list contact-links">
                        <li><span class="la la-home"></span> 12345 Little Baker St, Melbourne </li>
                        <li><span class="la la-headphones"></span> <a href="#">+ 61 23 8093 3400</a></li>
                        <li><span class="la la-envelope-o"></span> <a href="#">dirto@gmail.com</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="copy-right margin-top-50px padding-top-60px">
                    <p class="copy__desc">
                        &copy; Copyright Dirto 2020. Made with
                        <span class="la la-heart-o"></span> by <a href="https://themeforest.net/user/techydevs/portfolio">TechyDevs</a>
                    </p>
                    <ul class="list-items">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Help Center</a></li>
                    </ul>
                </div><!-- end copy-right -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end footer-area -->
<!-- ================================
       START FOOTER AREA
================================= -->

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

<!-- Template JS Files -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/isotope-3.0.6.min.js"></script>
<script src="js/animated-headline.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.show-more.js"></script>
<script src="js/jquery-rating.js"></script>
<script src="js/jquery.filer.min.js"></script>
<script src="js/smooth-scrolling.js"></script>
<script src="js/main.js"></script>
</body>
</html>