<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wecamp.mapper.AdminMapper"><!-- route of mapping to java -->
	<select id="selectAdmin" resultType="int" parameterType="hashmap">
		select count(*) from ADMIN where NAME = #{admin.name} and PWD = #{admin.pwd}
	</select>
	
	<select id="selectCountMember" resultType="int">
		select count(*) from MEMBER
	</select>
	
	<select id="selectCountLeaveMember" resultType="int">
		select count(*) from L_MEMBER
	</select>
	
	<select id="selectCountCamp" resultType="int">
		select count(*) from CAMP
	</select>
	
	<select id="selectCountBooking" resultType="int">
		select count(*) from BOOKING
	</select>
	
	<select id="selectCountCurrentBooking" resultType="int">
		select * from BOOKING where BDATE like SYSDATE
	</select>
	
	<select id="selectCountInquiry" resultType="int">
		select count(*) from INQUIRY
	</select>
	
	<select id="selectCountInquiryUnchecked" resultType="int">
		select count(*) from INQUIRY where S_NO = 1
	</select>
</mapper>