<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 여기서 매퍼 네임스페이스는 인터페이스 파일로 받아와야 함 -->

<mapper namespace="com.wecamp.mapper.BookingMapper">

	<select id="select_booking"
		resultType="com.wecamp.model.BookingAndCampAndImg"
		parameterType="hashmap">
		
	    <![CDATA[
		select * from (
		select ROWNUM rnum, aa.* from (
		
		select * from BOOKING B inner join CAMP C
		on
		B.camp_idx=C.camp_idx inner join
		IMG I on B.camp_idx=I.camp_idx
		where
		B.EMAIL=#{email} and
		i.division='thumb' order by
		B.udate desc
		
		)aa) 
		where rnum>#{page.startRow} and rnum<=#{page.endRow}
		]]>
		
	</select>
	
	<!-- 예약 내역 조회 -->
	<select id="select_booking_count" resultType="long">
		select count(*) from BOOKING B inner join CAMP C
		on
		B.camp_idx=C.camp_idx inner join
		IMG I on B.camp_idx=I.camp_idx
		where
		B.EMAIL=#{email} and
		i.division='thumb' order by
		B.udate desc
	</select>
	
	<!-- review_state 상태 변경 -->
	<update id="update_state" parameterType="int">
		update BOOKING set review_state = 'T' where booking_idx = #{booking_idx}
	</update>
</mapper>


